<ion-header>
  <ion-toolbar>
    <ion-title>
      Koldo Intxausti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/pato.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Koldo Intxausti</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon slot="start" color="medium" name="mail"></ion-icon>
            <ion-label color="dark">koldointxaustii@gmail.com</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-item>
        <ion-card-header>
          <ion-card-subtitle style="border-bottom: 5px solid lightgray">
            Experiencia Laboral
          </ion-card-subtitle>
        </ion-card-header>
        <ion-card-content>
          <ion-list lines="none">
            <ion-item>
              <ion-label>Hermmersbach</ion-label>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-item>
    </ion-card>
</ion-content>
