<ion-header>
  <ion-toolbar>
    <ion-title>
      Koldo Intxausti
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="/assets/img/pato.jpg"></ion-img>
      <ion-card-header>
        <ion-card-title>Koldo Intxausti</ion-card-title>
      </ion-card-header>
      <ion-card-content>
          <ion-list lines="none">
          <ion-item>
            <ion-label color="primary">Experiencia</ion-label>
            
          </ion-item>
          <ion-item >
            <ion-label color="primary">Scaffold Out Your App</ion-label>
          </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>
    
</ion-content>
